<div class="row">
  <div class="col-4">
    <form name="signinform">
        <label for="signin form">SIGNIN YOUR ACCOUNT </label>
        <input type="text" name="username" id="username" placeholder="enter your user name">
        <input type="password" name="password" id="password" placeholder="enter your pasdsword">
        <a class="btn btn-success" routerLink="/home">signin</a>
        <div class="row"> <label for="">---------------- OR CREATE A NEW ACCOUNT  -------------------</label> </div>
        <a class="btn btn-success" routerLink="/signup">signup</a>

        <!-- <input type="submit" value="signin" class="btn btn-success"> -->
    </form>
  </div>
    
    <!-- <div class="col-4">
        
    <form #ref="ngForm" (ngSubmit)="dologin(ref.value)">
    <label for="signin form">SIGNIN YOUR ACCOUNT</label>
    username - comment 
    <div class="form-group">
        <label for="un">username</label>
        <input type="text" name="username" id="un" placeholder="enter name" class="form-control" ngModel required #ref1="ngModel">
    </div>
    username validation  - put comment
    <div *ngIf="ref1.touched  && ref1.invalid" class="alert alert-danger">
        *username required

    </div>
    <div class="formgroup">
        <input type="password" name="password" id="password" placeholder="enter your password" class="form-control" ngModel required #ref2="ngModel">
    </div>
    <div>
        <div *ngIf="ref2.touched  && ref2.invalid" class="alert alert-danger">
            *password required
    
        </div>
    </div>
    <button type="submit" class="btn btn-success" routerLink="/items" >login</button>
    </form>

</div> -->
    
<div class="col4">
        
    <!-- <form name="signinform">
        <label for="signin form">SIGNIN YOUR ACCOUNT</label>
        <input type="text" name="username" id="username" placeholder="enter your username">
        <input type="password" name="password" id="password" placeholder="enter your password">
        <a class="btn btn-success" routerLink="/items">signin</a>
        
    </form> -->

</div>


</div>