img{
    width: 300px;
    height: 300px;
    border: 1px solid navy;
    border-radius: 10px;
  }
  span{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bolder;
  
  }
  h1{
    color: rgb(255, 0, 140);
  }
  #text-center{
    color: rgb(253, 13, 13);
    font-weight: bolder;
    text-shadow: 2px 2px blue;
  }
  
  .col-xs-6 a img:hover{
    border-radius: 10px;
  }
  /*ZoomIn Hover Effect*/
  .hover-zoomin a {
      display: block;
      position: relative;
      overflow: hidden;
    }
    .hover-zoomin img {
      width: 100%;
      height: auto;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    

    }
    .hover-zoomin:hover img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
     

    }
  