
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="ico/favicon-32.png"/>
      <!-- Icon For iOS 2.0+ and Android 2.1+ -->
      <link rel="apple-touch-icon-precomposed" href="ico/favicon-152.png">
      <!-- Icon For IE10 Metro -->
      <meta name="msapplication-TileColor" content="#fff">
      <meta name="msapplication-TileImage" content="ico/favicon-144.png">
  
      <title>Bootstrap Template</title>
  
      <!-- Bootstrap Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      
      <div class="container">
      <h1 id="text-center" class="text-center ">AVAILABLE VARITIES</h1>
        <div class="row">
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/cabbage.jfif" alt="no image"/>
            </a>
            <span>price. each 1 @ 35/-</span>
            <h4 class="text-center">cabbage</h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/apple.jfif" alt="no image"/>
            </a>
            <span>price. each 1 @ 35/-</span>
            <h4 class="text-center">Apple </h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/banana.jfif" alt="no image"/>
            </a>
            <span>price. DOZEN @ 55/-</span>
            <h4 class="text-center">Banana </h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/beens.jfif" alt="no image"/>
            </a>
            <span>price. KG @ 100/-</span>
            <h4 class="text-center">beens </h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/brinjal.jfif" alt="no image"/>
            </a>
            <span>price. KG  @ 35/-</span>
            <h4 class="text-center">Brinjal </h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/th (13).jfif" alt="no image"/>
            </a><span>price. each 1 @ 35/-</span>
            <h4 class="text-center">califlower </h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/capsicum.jfif" alt="no image"/>
            </a><span>price. KG @ 35/-</span>
            <h4 class="text-center">capsicum </h4>
          </div>
          
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/carrot.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">carrot </h4>
          </div>
  
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/goa.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">Goa </h4>
          </div>
  
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/grape.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">grape </h4>
          </div>
  
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/keera.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">ceera </h4>
          </div>
  
  
          
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/mirchi.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">mirchi</h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/onion.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">onion</h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/potato.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">potato</h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/sweetcorn.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">sweetcorn</h4>
          </div>
  
  
          <div class="col-xs-6 col-sm-3 hover-zoomin">
            <a href="#" title="">
              <img src="./assets/images/itemslist/tomato.jfif" alt="no image"/>
            </a><span>price. KG @ 45/-</span>
            <h4 class="text-center">tomato</h4>
          </div>
  
  
        </div>
      </div>
  
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
  </html>
  
  