<div class="row">
    <div class="col6"></div>
    <div class="col-4">
        <form name="signinform">
            <label for="signup form">CRTEATE A NEW ACCOUNT </label>
            <input type="text" name="firstname" id="firstname" placeholder="enter your firstname">
            <input type="text" name="lastname" id="lastname" placeholder="enter your lastname">

            <input type="password" name="password" id="password" placeholder="chooseyour password">
            <input type="password" name="password" id="password" placeholder="re enter  password">
            <input type="number" name="number" id="number" placeholder="enter your mobile number">
            <a class="btn btn-success" routerLink="/home">signup</a>
            <div class="row"> <label for="">-------- LOGIN IF  YOU HAVE ALREADY AN ACCOUNT -----------</label> </div>
            <a class="btn btn-success" routerLink="/signin">signin</a>
            <!-- <input type="submit" value="signin" class="btn btn-success"> -->
        </form>
    </div>
    <div class="col-2"></div>
</div>