


 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <h4 class="h-title">
        Grocceries need Everyone....         
    </h4>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="block">
          <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Eugene A. Kopyov"> 
              <img src="./assets/images/home/cabbage.jpg" alt="no image">
            </a>
              <div class="caption text-center">
                <h4 >  Now @ 15/- Per KG. <h5>20/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#g" class="thumb-zoom" title="Sophia R. McJamer">
                <img src="./assets/images/home/califlower.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 20/- Per KG. <h5>25/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Noah Kennedy">
                <img src="./assets/images/home/capsicum.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 35/- Per KG. <h5>45/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div>
        
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Noah Kennedy">
                <img src="./assets/images/home/fineapple.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div>
        
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Noah Kennedy">
                <img src="./assets/images/home/lemon.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div> 
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Noah Kennedy">
                <img src="./assets/images/home/potato.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div> 
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Noah Kennedy">
                <img src="./assets/images/home/tomato.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 35/- Per KG. <h5>40/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div> 
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Noah Kennedy">
                <img src="./assets/images/home/shelf.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 45/- Per KG. <h5>50/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div> 
        
      <div class="col-md-4 col-sm-6">
        <div class="block">
            <div class="thumbnail">
            <a href="#" class="thumb-zoom" title="Noah Kennedy">
                <img src="./assets/images/home/onions.jpg" alt="no image">
              </a>
              <div class="caption text-center">
                <h4>Now @ 40/- Per KG. <h5>50/- Per KG.</h5></h4>
                <div class="icons-group">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#" ><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-github"></i></a>
                      </div>
              </div>
            </div>
        </div>
      </div>
    </div>    
</div> 