* 



 body{
    margin-top:20px;
}
img{
    width: 250px;
    height: 250px;
    border: 2px solid wheat;
    border-radius: 25px;
}

h4{
    color:red;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(26, 236, 61), 0 0 5px rgb(198, 240, 12);
}



h5{
    color: blue;
    font-weight: bolder;
}
.h-title{
 border-bottom:1px solid #eee;
 padding-bottom:5px;

}
.block {
    margin-bottom: 35px;
}


.thumbnail {
    background: none;
    position: relative;
    border: 0;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.thumbnail .caption {
    padding: 12px 0 0 0;
    color: #333;
}

.thumbnail .caption h6 small {
    display: block;
    margin-top: 4px;
}

.thumbnail .caption h6, .thumbnail .caption .h6 {
    font-size: 14px;
}

.icons-group a {
    color: #555;
}

.thumb-zoom img:hover {
    /* opacity: 0.7; */
     
    cursor: pointer;
    border-radius: 0px;
  transform: scale(1.2, 1.2);
  transition-timing-function: ease-out;
   transform: scale(1.2, 1.2);
   transition-timing-function: ease-out;
   transform: scale(1.20, 1.20);
   transition-timing-function: ease-out;

   transition-duration: 500ms;
   transition-duration: 500ms;
   transition-duration: 500ms;
   border-radius: 25px;
} 