<div class="container-fluid">
    <div class="px-lg-5">
  
      <!-- For demo purpose -->
      <div class="row py-5">
        <div class="col-lg-12 mx-auto">
          <div class="text-white p-5 shadow-sm rounded banner">
            <h1 class="display-4"><b> Big offer sale running now.... </b> </h1>

            <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
                <li data-target="#demo" data-slide-to="6"></li>
                <li data-target="#demo" data-slide-to="7"></li>
                <li data-target="#demo" data-slide-to="8"></li>
                <li data-target="#demo" data-slide-to="9"></li>
                <li data-target="#demo" data-slide-to="10"></li>
                <li data-target="#demo" data-slide-to="11"></li>
                <li data-target="#demo" data-slide-to="12"></li>
              </ul>
            
              <!-- The slideshow -->
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142059_Shikhar.jpg" alt="Los Angeles">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142306_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142309_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142312_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142315_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142319_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142323_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142327_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142331_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142335_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142338_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142342_Shikhar.jpg" alt="Chicago">
                </div>

                
                <div class="carousel-item">
                  <img src="./assets/images/offers/Carousel/Screenshot_20210928-142059_Shikhar.jpg" alt="Chicago">
                </div>

              </div>
            
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            
            </div>



            <p class="lead"><b> It's your time to save money...! </b> </p>
            <p class="lead">  Deal of the month <a href="https://bootstrapious.com/snippets" class="text-reset"> 
                          offer sale...!</a>, by SAMPATHKUMAR ENTERPRIZES <a href="https://unsplash.com" class="text-reset">Unsplash</a>.
            </p>
          </div>
        </div>
      </div>
      <!-- End -->
  
      <div class="row">
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/apple.jfif" alt="no image" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Apple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold"> @ 50/- each </span></p>
                <div class="badge badge-danger px-3 rounded-pill  font-weight-bold">now  @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/albukar.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Albukar</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">150/- per KG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Now @ 105/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/banana.jfif" alt="no " class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Banana</a></h5>
              <p class="small text-muted mb-0">30% offer running...!  </p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">80/- per DOZEN </span></p>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Now @ 65/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/fineapple.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PineApple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">50/- per KG </span></p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">Now @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/goa.jfif" alt="no image" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Goa </a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold"> @ 50/- Per KG </span></p>
                <div class="badge badge-danger px-3 rounded-pill  font-weight-bold">now  @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/grape.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">grape</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">150/- per KG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Now @ 105/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/keera.jfif" alt="no " class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">ceera</a></h5>
              <p class="small text-muted mb-0">30% offer running...!  </p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">80/- per DOZEN </span></p>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Now @ 65/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/orange.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">orange</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">50/- per DOZEN </span></p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">Now @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/sweetcorn.jfif" alt="no image" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">sweetcorn</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold"> @ 50/- each </span></p>
                <div class="badge badge-danger px-3 rounded-pill  font-weight-bold">now  @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/beens.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">beens</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">150/- per KG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Now @ 105/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/banana.jfif" alt="no " class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Banana</a></h5>
              <p class="small text-muted mb-0">30% offer running...!  </p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">80/- per DOZEN </span></p>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Now @ 65/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/fineapple.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PineApple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">50/- per KG </span></p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">Now @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/apple.jfif" alt="no image" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Apple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold"> @ 50/- each </span></p>
                <div class="badge badge-danger px-3 rounded-pill  font-weight-bold">now  @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/albukar.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Albukar</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">150/- per KG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Now @ 105/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/banana.jfif" alt="no " class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Banana</a></h5>
              <p class="small text-muted mb-0">30% offer running...!  </p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">80/- per DOZEN </span></p>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Now @ 65/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/fineapple.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PineApple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">50/- per KG </span></p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">Now @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/apple.jfif" alt="no image" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Apple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold"> @ 50/- each </span></p>
                <div class="badge badge-danger px-3 rounded-pill  font-weight-bold">now  @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/albukar.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Albukar</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">150/- per KG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Now @ 105/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/banana.jfif" alt="no " class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Banana</a></h5>
              <p class="small text-muted mb-0">30% offer running...!  </p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">80/- per DOZEN </span></p>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Now @ 65/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/fineapple.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PineApple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">50/- per KG </span></p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">Now @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/apple.jfif" alt="no image" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Apple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold"> @ 50/- each </span></p>
                <div class="badge badge-danger px-3 rounded-pill  font-weight-bold">now  @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/albukar.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Albukar</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">150/- per KG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Now @ 105/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/banana.jfif" alt="no " class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Banana</a></h5>
              <p class="small text-muted mb-0">30% offer running...!  </p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">80/- per DOZEN </span></p>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Now @ 65/- </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="./assets/images/itemslist/fineapple.jfif" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PineApple</a></h5>
              <p class="small text-muted mb-0">30% offer running...!</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold">50/- per KG </span></p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">Now @ 35/-</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
  
        
  
      </div>
      <div class="py-5 text-right"><a routerLink="/home" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div>
    </div>
  </div>